*database.php
*.db
.project
.settings
.enviroment
Regeneration-global-server.bbprojectd/project.bbprojectdata
Regeneration-global-server.bbprojectd/Wade.bbprojectsettings
Regeneration-global-server.bbprojectd/Unix Worksheet.worksheet
Regeneration-global-server.bbprojectd/Scratchpad.txt